<%= l(:mail_body_summary, project: @project.name, :n_issues => @issues.size) %>:

<% @issues.each do |issue| -%>
* <%= "#{issue.tracker} ##{issue.id}: #{issue.subject}" %>
<% end -%>

<%= l(:label_issue_view_all) %>
<%= @issues_url %>
