<p><%= l(:mail_body_summary, project: @project.name, :n_issues => @issues.size) %></p>

<ul>
<% @issues.each do |issue| -%>
  <li><%= link_to_issue(issue, project: true, only_path: false) %></li>
<% end -%>
</ul>

<p><%= link_to(l(:label_issue_view_all), @issues_url) %></p>
